# General settings
DJANGO_DEBUG=true
DJANGO_SECRET_KEY=CHANGEME!!!
DJANGO_ALLOWED_HOSTS=*,127.0.0.1

# Database
DATABASE_URL=postgres://dbuser:dbpass@localhost:port/mydb
# SQLite
# DATABASE_URL=sqlite:///mydb.db

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False


# Facebook configuration
SOCIAL_AUTH_FACEBOOK_KEY=<your app id goes here>
SOCIAL_AUTH_FACEBOOK_SECRET=<your app secret goes here>

PROJECT_NAME_HEADER=Name Project
PROJECT_NAME_TITLE=Name Project

ACTIVAR_HERRAMIENTAS_DEBBUGING=false